.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 32px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin-left: 70px;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__item + .header__item {
  margin-left: 24px;
  @media screen and(min-width: 1280px) {
    margin-left: 40px;
  }
}
.header__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
.header__connect {
  display: none;
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    text-align: center;
    margin-top: 28px;
  }
  @media screen and(min-width: 1280px) {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
  }
}
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  @media screen and(min-width: 1280px) {
    margin-top: 0;
    margin-right: 40px;
  }

  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: #ff6c00;
  }
}
