.reasons__container {
  display: flex;
}
.reasons__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reasons__item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
  &:nth-child(odd) {
    margin-right: 30px;
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
}
.reasons__count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
}
.reasons__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
}
